{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- home function in views.py is sending data we are showing in home page. -->
    <h1>Welcome {{ name }}</h1>
    <p>Age: {{ age }} </p>
    <p>Language: {{ language }} </p>

    {% if is_logged_in %}
        <p>
            {{ name }} have logged in.
        </p>
    {% else %}
        <p>
            {{ name }} please log in.
        </p>
    {% endif %}
    
    <h2>Skills of {{ name }}: </h2>
    <ul>
        {% for skill in skills %}
            <li>
                {{ skill }}
            </li>
        {% endfor %}
    </ul>

    <img src="{% static 'core/images/image.png' %}" alt="Seedhey Maut">
    <img src="{% static 'core/images/krsna.png' %}" alt="KR$NA">
</body>
</html>