<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Note
    </h1>

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>Title: </label>
            {{ form.title }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <p style="color: red;">{{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <label>Content: </label>
            {{ form.content }}
            
            {% if form.content.errors %}
                {% for error in form.content.errors  %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
                
        </div>

        <button type="submit">Save Note</button>
        <a href="{% url 'notes_list' %}">Cancel</a>

    </form>
</body>
</html>